# What the .vsix ships: dist/ (the bundled client + server), icon.png, README.md, LICENSE*.
# Everything build-side stays out — the extension is self-contained (no node_modules at runtime).
.gitignore
.vscodeignore
src/**
scripts/**
test-vscode.sh
node_modules/**
build/**
package-lock.json
*.vsix
